<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommnuityMapper">

 <insert id="insert">
 insert into Community (cNo, mLevel, mId, title, content) 
 values(Community_seq.nextval, #{mLevel, JdbcType=VARCHAR}, #{mId}, #{title}, #{content})
 </insert>

 <select id="read" resultType="com.mealkit.board.CommunityVO">
 select 
   cNo, mId, title, content, regDate 
 from 
   Community 
 where cNo = #{cNo}
 </select>

 <update id="update">
 update Community set title =#{title}, content =#{content} 
 where cNo = #{cNo}
 </update>

 <delete id="delete">
 delete from Community where cNo = #{cNo}
 </delete>

 <select id="listAll" resultType="com.mealkit.board.CommunityVO">
 <![CDATA[
 select 
   cNo, mId, title, content, regDate  
 from 
   Community 
 where cNo > 0 
 order by cNo desc, regDate desc
 ]]>  
 </select>
 
 <select id="listPage" resultType="CommunityVO">
 <![CDATA[
 select 
   cNo, mId, title, content, regDate  
 from 
   Community 
 where cNo > 0 
 order by cNo desc, regDate desc
 limit #{page}, 10
 ]]>  
 </select>

  <select id="listCriteria" resultType="CommunityVO">
 <![CDATA[
 select 
    cNo, mId, title, content, regDate  
 from 
   Community 
 where cNo > 0 
 order by cNo desc, regDate desc
 limit #{pageStart}, #{perPageNum}
 ]]>  
 </select>



 <select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(cNo) 
 from 
   Community 
 where 
   cNo > 0 
 ]]>
 </select>



<sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and title like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'c'.toString()">
     and content like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and writer like CONCAT('%', #{keyword}, '%')
   </if>     
   <if test="searchType == 'tc'.toString()">
     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'cw'.toString()">
     and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'tcw'.toString()">
     and (   title like CONCAT('%', #{keyword}, '%') 
           OR 
             content like CONCAT('%', #{keyword}, '%') 
           OR 
             writer like CONCAT('%', #{keyword}, '%'))
   </if>              
 </if>  
</sql>
 
<select id="listSearch" resultType="CommunityVO">
<![CDATA[  
  select * 
  from Community 
  where cNo > 0 
]]>  

  <include refid="search"></include>
  
<![CDATA[    
  order by cNo desc
  limit #{pageStart}, #{perPageNum}
]]>  
</select>
  
<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(cNo) 
  from Community 
  where cNo > 0 
]]>
  <include refid="search"></include>
 
</select>  
  
</mapper>
