<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mealkit.mapper.CommentMapper">



	<resultMap type="com.mealkit.board.CommentVO" id="commentvo">
		<result column="rno" property="rno" />
		<result column="pid" property="pid"	/>	
		<result column="mId" property="mId" />
		<result column="content" property="content" />
		<result column="regdate" property="regdate" />
		<result column="updateddate" property="updateddate" />
	</resultMap>
	
	
	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->
	<select id="list" resultType="com.mealkit.board.CommentVO">
		select
		*
		from
		review
		where pid =
		#{pid}
		order by rno desc
	</select>

	<select id="create">
		insert into review (pid, mId, content,regdate)
		values
		(#{pid},#{mId},#{content},sysdate)
	</select>
	<update id="update">
		update review set content = #{content},
		regdate =
		sysdate
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from review where rno =#{rno}
	</delete>


	<select id="listPage" resultType="CommentVO">
		select * from (select rvresult.*, rownum as rnum
		from ( select * from review
		where pid = ${pid} order by rno desc)
		rvresult where rownum &lt; ((#{cri.page} * #{cri.perPageNum})+1)
		)
		where rnum &gt;= (((#{cri.page} -1) * #{cri.perPageNum})+1)
	</select>

	<select id="count" resultType="int">
		select count(pid) from review
		where pid =#{pid}
	</select>


	<select id="getPid" resultType="int">
		select pid from review where rno
		= #{rno}
	</select>
	
	<insert id="addAttach">
	insert into filename_tbl(savedFileName,rno) values(#{savedFileName},review_rno_seq.currval)
	</insert>
	
	<select id="getAttach" resultType="string">
	select savedFileName from filename_tbl where rno = #{rno}
	</select>
	
	<delete id="deleteAttach">
	delete from filename_tbl where rno = #{rno}
	</delete>
	
	<insert id="replaceAttach">
	insert into filename_tbl(savedFileName,rno) values (#{savedFileName},#{rno})
	</insert>
	
</mapper>
