<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mealkit.mapper.CommunityMapper">

	<select id="listPage" resultType="com.mealkit.board.CommunityVO">
	
	select cNo, 
			mId, 
			title, 
			content, 
			regDate
 	from (
 		select cNo, 
 			mId, 
 			title, 
 			content, 
 			regDate,
 			row_number() over(order by cNo desc) as rNum
 		from community
 		where 1=1

		<include refid="search" />
		
 				) mp
 	where rNum between #{rowStart} and #{rowEnd}
 	order by cNo desc

	</select>
	
	<select id="listCount" resultType="int">
		SELECT COUNT(cNo)
		  FROM community
		  WHERE 1=1
		<include refid="search" />
		  
		 And cNo > 0
	</select>
	
	<select id="read" resultType="com.mealkit.board.CommunityVO">
		select
		cNo, mId, title, content
		from
		community
		where cNo = #{cNo}
	</select>

	<update id="update">
		update community set title =#{title}, content
		=#{content}, regDate = sysdate
		where cNo = #{cNo}
	</update>

	<delete id="delete">
		delete from community where cNo = #{cNo}
	</delete>

	<insert id="write">
		insert into community (cNo, mId, title, content)
		values(Community_seq.nextval, #{mId},#{title}, #{content})
	</insert>
	<!-- 
	
	<select id="listPage" resultType="com.mealkit.board.CommunityVO">
	
	<![CDATA[
	select cNo, 
			mId, 
			title, 
			content, 
			regDate
 	from (
 		select cNo, 
 			mId, 
 			title, 
 			content, 
 			regDate,
 			row_number() over(order by cNo desc) as rNum
 		from community
 		where 1=1
 	]]>

		<include refid="search" />
		
 	<![CDATA[
 				) mp
 	where rNum between #{rowStart} and #{rowEnd}
 	order by cNo desc
	 ]]>

	</select>
	
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(cNo)
		  FROM community
		  WHERE 1=1
	]]>
		<include refid="search" />
		  
	<![CDATA[	  
		 And cNo > 0
	]]>
	</select>
 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND mId LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (title LIKE '%' || #{keyword} || '%') or (content
				LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>

</mapper>
