<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mealkit.mapper.OrderMapper">

	<insert id="addOrder">
		insert into userOrder(oId, oDate, mId, pId, quantity, price, statusCode)
		select OID_SEQ.nextval, sysdate, #{mId}, a.pId, a.cquantity, b.price * a.cquantity, 1
		from userCart a, product b
		where a.pId = b.pId
		and a.mId = #{mId}
	</insert>
	
	<select id="showOrderList"
		resultType="com.mealkit.order.OrderVO">
		select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName
        from userOrder a, product b, statusType c
        where a.mId = #{mId}
        and a.pid = b.pid 
        and a.statusCode = c.statusCode 
        order by oId desc
	</select>
	
	<!-- <select id="showOrderList" resultType="com.mealkit.order.OrderVO">
	<![CDATA[
		select * from(
		    	
		    select rownum rn, oId, mId, pId, quantity, odate, price, statusCode, pname, statusName
		    from ( select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName
		     	from userOrder a, product b, statusType c
		        where a.mId = #{mId} and a.pid = b.pid and a.statusCode = c.statusCode 
		        order by oId desc))
 	 where rn between #{pageStart} and #{pageEnd}
	]]>
	</select> -->

	<select id="countPageOrder" resultType="int">
	<![CDATA[
		select count(*) from userOrder a
		where a.mId=#{mId}
	]]>
	</select> 
	
	
	<select id = "orderDetail" resultType="com.mealkit.order.OrderVO">
		select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName
        from userOrder a, product b, statusType c
        where a.pid = b.pid 
        and a.statusCode = c.statusCode 
        and a.oId= #{oId}
	</select>
	
	<insert id="addCart">
	INSERT INTO usercart(ucId, mId, pId, cquantity)
	VALUES(UCIDSEQ.nextval, #{mId}, #{pId}, #{cquantity})
	</insert>
	
	<select id="showCart" resultType="com.mealkit.order.CartVO">
		select a.ucId, a.mId, a.pId, a.cquantity, b.pName, b.price, b.thumbnail
		from usercart a, product b
		where a.pId = b.pId
		and a.mId=#{mId}
	</select>
	
	<update id="update">
		update usercart set
		cquantity=#{param2}
		where ucId=#{param1}
	</update>
	
	<delete id="delete">
   delete from usercart
   where ucId = #{ucId}
   </delete>
	
	<delete id="resetCart">
	delete from userCart
	where mId=#{mId}
	</delete>
	
	
	<select id="orderAdmin"
		resultType="com.mealkit.order.OrderVO">
		
		select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName
        from userOrder a, product b, statusType c
        where a.pid = b.pid 
        and a.statusCode = c.statusCode 
        order by oId desc
        
	</select>
	
	<update id="updateAdmin" >
		update userorder set
		statuscode = #{param2}
		where oId = #{param1}
	</update>
	
	<delete id="deleteAdmin">
	delete from userorder
	where oId = #{oId}
	</delete>
	
	<select id="detailAdmin" resultType="com.mealkit.order.OrderVO">
		select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName, d.mName, d.phone, d.address
        from userOrder a, product b, statusType c, member d
        where a.pid = b.pid 
        and a.statusCode = c.statusCode
        and a.oId = #{oId}
        and a.mId = d.mId
	</select>
	
	<!-- 검색기능 -->
	<sql id="search">
	  <if test="searchType != null" >
		<if test="searchType == 'i'.toString()">
		 and a.mId like '%'||#{keyword}||'%'
		</if>
	    <if test="searchType == 'n'.toString()">
		 and a.oId like '%'||#{keyword}||'%'
		</if>
	  </if>
	</sql>

	<select id="selectOrderList" resultType="com.mealkit.order.OrderVO">
	<![CDATA[
		select * from(
		    	
		    select rownum rn, oId, mId, pId, quantity, odate, price, statusCode, pname, statusName
		    from ( select a.oId, a.mId, a.pId, a.quantity, a.odate, a.price, a.statusCode, b.pName, c.statusName
	       		from userOrder a, product b, statusType c
	        	where a.pid = b.pid and a.statusCode = c.statusCode 
	]]>
		<include refid="search"></include>
	<![CDATA[
            	order by oId desc
 			))
 		where rn between #{pageStart} and #{pageEnd}
	]]>
	</select>

	<select id="countPage" resultType="int">
	<![CDATA[
		select count(*) from userOrder a
		where oid>0 
	]]>
		<include refid="search"></include>
	</select>


</mapper>
